@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Poppins Font Import Link*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /*Rubik Font Import Link*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /*Roboto Font Import Link*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(assets/images/web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.nav_container {
    position: fixed;
    top: 20px;
    width: 100vw;
    height: 25px;
    padding-bottom: 20px;
}

.logo img {
    width: 5%;
}

.logo a:hover {
    color: rgb(248, 131, 77);
    transition: 0.4s;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 1.5rem;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.nav-links a {
    color: black;
}

.nav-links a:hover {
    color:  rgb(248, 131, 77);
    transition: 0.4s;
}

section {
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.home_container {
    margin-left: 5px;
    margin-top: 45px;
}

.img_container {
    margin-left: 15rem;
}

#profile {
    width: 30%;
    border-radius: 90%;
}

#home {
    margin-top: 0.5rem;
}

.bio_container {
    margin-left: 35rem;
    margin-top: -16rem;
    border-radius: 50%;
    border-color: black;
}

.bio_list {
    font-family: "Rubik", sans-serif;
    list-style: none;
    padding-left: 1rem;
}

.bio_list, li {
    margin-top: 0.5rem;
}

.description {
    list-style: none;
    font-size: 20px;
    margin-top: 0.5rem;
    font-family: "Poppins", sans-serif;
}

#description_text {
    margin-top: -0.5rem;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 800px;
    color: black;
}

#about {
    height: 180vh;
    color: white;
    display: flex;
}

.about_container {
    padding-bottom: 5rem;
}

.about_list_container {
    color: black;
    padding-top: 5rem;
    padding-left: 10rem;
}

.about_image_container {
    padding-left: 33rem;
    padding-top: 15rem;
}

#lulus {
    width: 40%;
    border-radius: 10%;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
}

.another_list {
    padding-left: 2rem;
}

#right_list {
    padding-top: 3rem;
    padding-left: 40rem;
}

.bio_title {
    background: -webkit-linear-gradient(#5df1a7, #2b0ae6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#left_list {
    padding-left: 5rem;
    padding-top: 2rem;
}

.about_list {
    list-style: none;
}

#projects {
    height: 120vh;
    display: flex;
}

/*.projects_container {
    
}*/

.projects_list {
   
}

#project_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    font-family: "Roboto", sans-serif;
    font-size: 90px;
}

.vercel_container {
    display: flex;
}

#vercel {
    width: 50%;
    margin-left: 22rem;
    border-radius: 40%;
    box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

#vercel:hover {
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 1;
}

#contact {
    display: flex;
}

.contact_container {
    margin-right: 35rem;
    margin-bottom: 10rem;
}

#link_up {
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.icon_container {
    margin-top: 40px;
}

.icon_space {
    margin-left: 1.5rem;
}

.styler {
    color: black;
}

.styler:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.button {
    background-color: transparent;
    color: #333; 
    border: 2px solid #333; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    margin-top: 1rem;
}
  
.button:hover {
background-color: #333; 
color: #fff; 
}

